{% trans_default_domain 'FOSUserBundle' %}

<form action="{{ path("fos_user_security_check") }}" method="post">
    {% if csrf_token %}
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
    {% endif %}

    <div class="field-wrapper">
        {#<label for="username">{{ 'security.login.username'|trans }}</label>#}
        <input type="text" id="username" name="_username" placeholder="{{ 'security.login.username'|trans }}" value="{{ last_username }}" required="required" />
    </div>

    <div class="field-wrapper">
        {#<label for="password">{{ 'security.login.password'|trans }}</label>#}
        <input type="password" id="password" name="_password" placeholder="{{ 'security.login.password'|trans }}" required="required" />
    </div>

    <div class="field-wrapper">
        <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
        <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
    </div>

    {% if error %}
        <div class="errors">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />
</form>
