{% extends 'base.html.twig' %}

{% block title %}Projets {{ parent() }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    {% stylesheets 'css/projects.css' filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block headerTitle %}{% endblock %}

{% block content %}
    <div id="projects" class="content">
        <div class="wrapper">
            {% if is_granted('ROLE_SUPER_ADMIN') %}
                <h4 class="bold">Projets</h4>
                <ul class="projects-list">
                    {% for project in projects %}
                        <li class="projects-item"><a href="{{ path('project_single', {'slug': project.slug}) }}">{{ project.title }}</a></li>
                    {% endfor %}
                </ul>
            {% else %}
                {% include 'partials/construction.html.twig' %}
            {% endif %}
        </div>
    </div>
{% endblock %}
